*{
    margin: 0;
    padding: 0;
    color: white;
}
.body{
    background:url("snake_game_background.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 51px;
    right: 150px;
    font-size: 38px;
font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#HighscoreBox{
    position: absolute;
    top: 10px;
    right: 140px;
    font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#board{
    background-image: url("snake_game_green_board.jpg");
    /* background: linear-gradient(rgb(226, 244, 191),pink); */
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(25,1fr);
    grid-template-columns: repeat(25,1fr);
}
.head{
    background-color: rgb(36, 2, 99);
    border: 2px solid rgb(61, 14, 148);
    transform: scale(1.1);
    border-radius: 3px;

}
.food{
    background-color: red;
    border: .25vmin solid tomato;
    transform: scale(1.1);
    border-radius: 15px;

}
.snake{
    background: linear-gradient(rgb(46, 13, 235),rgb(77, 77, 7));
    border: .25vmin solid black;
    /* border-radius: 12px; */
}